# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build tools
.gradle/
build/

# Env files
.env
.env.*

# Java
*.class
